<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site image{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/navBar.css') }}"/>
    {% endblock %}
</head>
<body>
 {% block navbar %}
<nav>

    <ul>
        <li class="menu"> Site </li>
        <li class="menu">
            Images
            {{ render(controller('App\\Controller\\ImageController::menu')) }}
        </li>
        <li>
            {{ render(controller('App\\Controller\\LoginController::register')) }}
       </li>
    </ul>
</nav>
 {% endblock %}

{% block body %}


{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
