<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Template Twig</title>
</head>
<body>
Le prénom de {{nom}} est Tintin <img src="{{path('client_photo', {nom:nom} )}}"\>
</body>
</html>